/* Variables */

:root {
  /*названия цветов по coolors.co*/
  --black: #000000;
  --black-03: rgba(0, 0, 0, 0.3);
  --black-06: rgba(0, 0, 0, 0.6);
  --gunmetal: #283136;
  --white: #ffffff;
  --dim-gray: #666666;
  --onyx: #444444;
  --background-main: #ffffff;
  --background-header: #eeeeee;


  --red-hover: #fb565a;

  --red-button: #fb565a;
  --red-button-hover: #e74246;
  --red-button-active: #d7373b;

  --green-button: #00ca74;
  --green-button-hover: #00bc6c;
  --green-button-active: #00aa62;

  --yellow-button: #efc84a;
  --yellow-button-hover: #eab534;
  --yellow-button-active: #e5a722;

  --grey-button: #eeeeee;
  --grey-button-hover: #dfdfdf;
  --grey-button-active: #d5d5d5;

  --box-shadow: rgba(0, 1, 1, 0.1);
}

/* Global */
/* *, *::before, *::after {
  background-color: rgba(255, 0, 0, 0.1);
  } */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--background-main);
}

a {
  text-decoration: none;
  color: var(--black);
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  justify-self: center;
}

.main-basket {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 33px;
  left: -40px;
  /* background-image: url("img\cart-icon.png"); */
  /* не получается подцепить иконку, туплю */
  background-color: yellow;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket,
.main-basket {
  position: relative;
}

.main-navigation-link:hover,
.main-basket:hover {
  color: var(--red-hover);
}

.main-navigation-link:active,
.main-basket:active {
  color: var(--black-03);
}

/* MAIN index+catalog */

.main-header-wrapper {
    background-color: var(--background-header);
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;

}

.main-logo {
  display: flex;
  justify-self: center;
  /* Иначе появляется какой-то паддинг/маргин внизу лого */
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
  margin-left: 202px;
  width: 437px;

  /* display: grid;
  grid-template-columns: min-content min-content min-content min-content; 
  gap: 45px; */
}

.main-basket {
  display: flex;
  margin-left: 286px;
  padding-top: 26px;
  /* justify-self: center; */
}

.main-container {
  width: 1160px;
  margin: 0 auto;
  /* padding: 0 10px;   */
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  background-color: var(--background-header);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider-title {
  font-family: roboto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--black);
  margin: 0px;
  margin-top: 78px;
}

.slider-text {
  width: 345px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;  
  color: var(--gunmetal);
  margin: 0px;
  margin-top: 25px;

}

.border-clear {
  border: none;
  outline: none;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin-top: 38px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red-button);
  border-radius: 3px;
}

.slider-button:hover {
  background-color: var(--red-button-hover);
}

.slider-button:active {
  background-color: var(--red-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 1100px;
}

.products-item {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.products-list li:not(:first-child) {
  margin-left: 100px;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
  margin: 0px;
  margin-top: 25px;
}

.products-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 250px;
  color: var(--gunmetal);
  margin: 0px;
  margin-top: 16px;
}

/* никак не мог просто по классу выбрать селектор, не пойму в чем дело, пока решил так */
.products-item .p-wrap {
  width: 234px;
}

.products-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 50px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
}

.red-button {
  background-color: var(--red-button);
}

.red-button:hover {
  background-color: var(--red-button-hover);
}

.red-button:active {
  background-color: var(--red-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
}

.green-button {
  background-color: var(--green-button);
}

.green-button:hover {
  background-color: var(--green-button-hover);
}

.green-button:active {
  background-color: var(--green-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
}

.yellow-button {
  background-color: var(--yellow-button);
}

.yellow-button:hover {
  background-color: var(--yellow-button-hover);
}

.yellow-button:active {
  background-color: var(--yellow-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
}

/* FEATURES */

.features-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--grey-button);
  margin-top: 80px;
}

.features-title {
  width: 651px;
  margin: 0px;
  margin-top: 73px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--black);
}

.features-text {
  margin: 0px;
  margin-top: 32px;
  width: 646px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gunmetal);
}

.features-left-side h4 {
  margin: 0px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--gunmetal);
  text-transform: uppercase;
}

.features-list li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gunmetal);
  margin-top: 23px;
}

.numbers-wrapper {
  display: flex;
  margin-top: 31px;
}

.features-right-side {
  margin-left: 149px;
}

.features-right-side img {
  padding-top: 39px;
}

.features-right-side p {
  margin: 0px;
  margin-top: 30px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-right-side span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
}

.features-right-side .strong {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--black);
}

/* пока добавил еще достилизую */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 73px;
  border-top: 2px solid var(--grey-button);
  border-bottom: 2px solid var(--grey-button);
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

/* временно */
.portfolio li {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.map {
  margin-top: 80px;
}

/* FOOTER */

.footer {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-promo {
  display: flex;
  margin-top: 68px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  margin-left: 139px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts-company {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.contacts-adress {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dim-gray);
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dim-gray);
}

.contacts-button {
  width: 219px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red-button);
  cursor: pointer;
}

.promo-slogan {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black);
}

.promo-text {
  margin-top: 10px;
  padding: 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--onyx);
}

/* CATALOG */

.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-wrap {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: min-content 1fr; */
}

.catalog-wrap {
  margin-left: 141px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  background-color: var(--background-header);
}

.filter-header-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.filter-header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* временно */
  gap: 25px;
}

.filter-header-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black-03);
  cursor: pointer; 
}

.filter-header button:hover {
  color: var(--black-06);
}

.filter-header button:active {
  color: var(--black);
}

.main-filter-category {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.main-filter-item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--gunmetal);
}

/* кнопка ПОЗАКАТЬ */
.filter-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--grey-button);
  cursor: pointer;
  border-radius: 3px;
}

.filter-button {
  background-color: var(--grey-button);
}

.filter-button:hover {
  background-color: var(--grey-button-hover);
}

.filter-button:active {
  background-color: var(--grey-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
  border-radius: 3px;
}

/* Пагинация */

.pagination-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;  
}

.pagination-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--grey-button);
}

.pagination-page {
  background-color: var(--grey-button);
}

.pagination-page {
  background-color: var(--grey-button-hover);
}

.pagination-page {
  background-color: var(--grey-button-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
  border-radius: 3px;
}