/* Variables */

:root {
  /*названия цветов по coolors.co*/
  --black: #000000;
  --black-03: rgba(0, 0, 0, 0.3);
  --black-06: rgba(0, 0, 0, 0.6);
  --gunmetal: #283136;
  --white: #ffffff;
  --dim-gray: #666666;
  --onyx: #444444;
  --background-main: #ffffff;
  --background-header: #eeeeee;


  --red-hover: #fb565a;

  --red-button: #fb565a;
  --red-button-hover: #e74246;
  --red-button-active: #d7373b;

  --green-button: #00ca74;
  --green-button-hover: #00bc6c;
  --green-button-active: #00aa62;

  --yellow-button: #efc84a;
  --yellow-button-hover: #eab534;
  --yellow-button-active: #e5a722;

  --grey-button: #eeeeee;
  --grey-button-hover: #dfdfdf;
  --grey-button-active: #d5d5d5;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--background-main);
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-basket {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation-link:hover,
.main-basket:hover {
  color: var(--red-hover);
}

.main-navigation-link:active,
.main-basket:active {
  color: var(--black-03);
}

.main-header {
  background-color: var(--background-header);
}

/* MAIN index+catalog */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--black);
}

.slider-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gunmetal);
}

.slider-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red-button);
  border-radius: 3px;
}

.slider-button:hover {
  background-color: var(--red-button-hover);
}

.slider-button:active {
  background-color: var(--red-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-list {
  list-style: none;
}

li.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

li.products-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gunmetal);
}

.products-item-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.red-button {
  background-color: var(--red-button);
}

.red-button:hover {
  background-color: var(--red-button-hover);
}

.red-button:active {
  background-color: var(--red-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green-button {
  background-color: var(--green-button);
}

.green-button:hover {
  background-color: var(--green-button-hover);
}

.green-button:active {
  background-color: var(--green-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow-button {
  background-color: var(--yellow-button);
}

.yellow-button:hover {
  background-color: var(--yellow-button-hover);
}

.yellow-button:active {
  background-color: var(--yellow-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* FEATURES */

.features-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  color: var(--black);
}

.features-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gunmetal);
}

.features-left-side h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--gunmetal);
  text-transform: uppercase;
}

.features-list li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gunmetal);
}

.features-right-side p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-right-side span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
}

.features-right-side .strong {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--black);
}

/* FOOTER */

.contacts-company {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.contacts-adress {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dim-gray);
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dim-gray);
}

.contacts-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red-button);
}

.promo-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black);
}

.promo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--onyx);
}

/* CATALOG */

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.filter-header-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.filter-header button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black-03);
}

.filter-header button:hover {
  color: var(--black-06);
}

.filter-header button:active {
  color: var(--black);
}

.main-filter-category {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.main-filter-item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--gunmetal);
}

/* кнопка ПОЗАКАТЬ */
.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--grey-button);
}

.filter-button {
  background-color: var(--grey-button);
}

.filter-button:hover {
  background-color: var(--grey-button-hover);
}

.filter-button:active {
  background-color: var(--grey-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Пагинация */

.pagination-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--grey-button);
}

.pagination-page {
  background-color: var(--grey-button);
}

.pagination-page {
  background-color: var(--grey-button-hover);
}

.pagination-page {
  background-color: var(--grey-button-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
