/* Variables */

:root {
  /*названия цветов по coolors.co*/
  --black: #000000;
  --black-03: rgba(0, 0, 0, 0.3);
  --gunmetal: #283136;
  --white: #ffffff;
  --dim-gray: #666666;
  --onyx: #444444;
  --background: #888888;

  --red-hover: #FB565A;

  --red-button: #FB565A;
  --red-button-hover: #E74246;
  --red-button-active: #D7373B;

  --green-button: #00CA74;
  --green-button-hover: #00BC6C;
  --green-button-active: #00AA62;

  --yellow-button: #EFC84A;
  --yellow-button-hover: #EAB534;
  --yellow-button-active: #E5A722;

}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.main-basket {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a:hover,
.main-basket:hover {
  color: var(--red-hover);
}

.site-navigation a:active,
.main-basket:active {
  color: var(--black-03);
}

/* MAIN */

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--black);
}

.slider-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gunmetal)
}

.slider-button {
  display: block;
  width: 240px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red-button);
  border-radius: 3px;
}

.slider-button:hover {
  background-color: var(--red-button-hover); 
}

.slider-button:active {
  background-color: var(--red-button-active); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-list {
  list-style: none;
}

li.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

li.products-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--gunmetal);
}

.products-item-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.red-button{
  background-color: var(--red-button);
}

.red-button:hover {
  background-color: var(--red-button-hover); 
}

.red-button:active {
  background-color: var(--red-button-active); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.green-button {
  background-color: var(--green-button);
}

.green-button:hover {
  background-color: var(--green-button-hover); 
}

.green-button:active {
  background-color: var(--green-button-active); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow-button {
  background-color: var(--yellow-button);
}

.yellow-button:hover {
  background-color: var(--yellow-button-hover); 
}

.yellow-button:active {
  background-color: var(--yellow-button-active); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* FEATURES */

.features-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
  color: var(--black);
}

.features-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--gunmetal);
}

.features-left-side h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--gunmetal);
  text-transform: uppercase;
}

.features-list li {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--gunmetal);
}

.features-right-side p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.features-right-side span {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black);
}

.features-right-side .strong {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  color: var(--black);
}

/* FOOTER */

.contacts p:nth-child(1) {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.contacts p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--dim-gray);
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: var(--dim-gray);
}

.contacts-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red-button);
}

.promo-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--black);
}

.promo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--onyx);
}